.button {
  /* background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(180deg, #2176a7 0%, #1c4d8a 45.57%, #152b68 100%); */
}

.button:after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(180deg, #2176a7 0%, #1c4d8a 45.57%, #152b68 100%);
  opacity: 0.5;
}

.button:hover:after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(180deg, #2176a7 0%, #1c4d8a 45.57%, #152b68 100%);
  opacity: 1;
}
