@tailwind base;
@tailwind components;
@tailwind utilities;

/* Airstrike */
@font-face {
  font-family: 'Airstrike';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../../public/fonts/Airstrike/airstrike.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/Airstrike/airstrike.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Airstrike-Half';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../../public/fonts/Airstrike/airstrikehalf.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/Airstrike/airstrikehalf.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* TT Norms Pro */

@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Medium.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Medium.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: italic;
  font-weight: 500;
  src: local(''),
    url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Medium_Italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Medium_Italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'TT Norms Pro';
  font-style: italic;
  font-weight: 700;
  src: local(''),
    url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Bold_Italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../../public/fonts/TTNormsPro/TT_Norms_Pro_Bold_Italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    background-image: url('/backgrounds/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    @apply font-TTNormsPro text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-airStrike;
  }

  p,
  span {
    @apply font-TTNormsPro font-normal;
  }

  input {
    @apply outline-none;
  }
}

@layer utilities {
  .diamond-btn {
    clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  }

  .btn-shape {
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  }

  .btn-shape-small {
    clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  }
  .btn-shape-smaller {
    clip-path: polygon(8.5% 3%, 91.5% 3%, 99% 50%, 91.5% 97%, 8.5% 97%, 1% 50%);
  }

  .arrow-left-shape {
    clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 50% 100%, 0% 50%, 50% 0);
  }
  .arrow-right-shape {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%, 0 0);
  }
}

.bg-ruler-gradient {
  background-image: linear-gradient(
    270deg,
    rgba(47, 205, 255, 0) -1.15%,
    #1de9b6 50.32%,
    rgba(47, 205, 255, 0) 100%
  );
}

.button-primary-background {
  /* background-image: linear-gradient(126.39deg, #01cd9a -3.99%, #0b6dc6 111.72%); */
  background-color: red;
}

.button-secondary-background {
  background-image: linear-gradient(
    42.92deg,
    rgba(0, 113, 218, 0.88) 25.51%,
    #1ca381 87.22%
  );
}

.bg-gradient-purple {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #6e2cc1 0%,
    rgba(74, 44, 193, 0) 100%
  );
  opacity: 0.75;
  filter: blur(200px);
}

.bg-gradient-blue {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #2c68c1 0%,
    rgba(44, 104, 193, 0) 100%
  );
  opacity: 0.75;
  filter: blur(50px);
}

.bg-radial {
  background-image: radial-gradient(
    63.44% 95.16% at 45.52% 57.74%,
    rgba(24, 20, 21, 0) 57.44%,
    rgba(24, 20, 21, 0.6512) 79.77%,
    rgba(24, 20, 21, 0.95) 100%
  );
}

.text-gradient {
  background-image: linear-gradient(126.39deg, #00ebb0 -3.99%, #0481f2 111.72%);
}

.team-card {
  transition: all 0.3s ease;
}

.team-card:hover {
  background-image: linear-gradient(37.34deg, #00ebb0 -18.88%, #0481f2 69.21%);
  box-shadow: 0px 2px 34px rgba(28, 92, 152, 0.7);
}

.swiper-pagination-bullet {
  @apply !bg-[#BCBCBC] !opacity-100 lg:mx-[6px] lg:h-2 lg:w-2 2xl:!mx-2 2xl:!h-4 2xl:!w-4;
}

.swiper-pagination-bullet-active {
  @apply !bg-[#1DE9B6];
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
