.wrapper:before {
  background: linear-gradient(126.39deg, #01cd9a -3.99%, #0b6dc6 120.72%);
}

/* .wrapper:after {
  background-image: url('../../../../public/button-border.png');
  background-repeat: no-repeat;
  background-size: 98.5% 98.5%;
  background-position: center;
} */

/* .wrapper {
  background-image: url('../../../../public/button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */
