.container:nth-of-type(6n + 1):after {
  background: #f2994a;
}

.container:nth-of-type(6n + 2):after {
  background: #eb5757;
}

.container:nth-of-type(6n + 3):after {
  background: #219653;
}

.container:nth-of-type(6n + 4):after {
  background: #d82ddb;
}

.container:nth-of-type(6n + 5):after {
  background: #f8c513;
}

.container:nth-of-type(6n + 6):after {
  background: #0085ff;
}
