.banner::after {
  background-image: radial-gradient(
    63.44% 95.16% at 45.52% 57.74%,
    rgba(24, 20, 21, 0) 57.44%,
    rgba(24, 20, 21, 0.6512) 79.77%,
    rgba(24, 20, 21, 0.95) 100%
  );
  opacity: 0.5;
}

.missionItem {
  background-image: url('/litepaper/assets/mission-frame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px 0px;
}

.missionItem::after {
  background-image: linear-gradient(
    180deg,
    rgba(46, 217, 255, 0.44) 0%,
    rgba(47, 128, 237, 0) 100%
  );
  opacity: 0.6;
}
