/* .container::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, 0);
  background-image: url('../../../../public/backgrounds/video-bar.png');
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 1;
  pointer-events: none;
} */
